<h1>Here is your task: <%= @task.title %></h1>
<p>Details: <%= @task.details %></p>
<p>Status: <%= @task.completed %></p>
<%= link_to "Back to list", tasks_path  %>
<%= link_to "Edit this task", edit_task_path  %>
